/* Estilos para la página web */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.menu {
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #ef8354;
}

#banner body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url('tu-imagen-de-fondo.jpg');
    background-size: cover;
    background-position: center;
    color: #0f0e0e;
    text-align: center;
    padding: 100px 0;
    /* Ajusta el espaciado superior e inferior según sea necesario */
}

.banner h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffd700;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ffa500;
    /* Cambia el color al pasar el mouse sobre el botón */
}

#imagen-principal {
    width: 500px;
    height: 500px;
    overflow: hidden;
}

#imagen-principal img {
    width: 100%;
}

#miniaturas {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#miniaturas li {
    margin: 10px;
}

#miniaturas img {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

#miniaturas img:hover {
    transform: scale(1.2);
}

nav {
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

.menu-horizontal {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal>li>a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal>li:hover {
    background-color: black;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: black;
}

.menu-vertical li a {
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffd700;
    /* Cambia el color al pasar el mouse sobre el enlace */
}

.logo-container {
    position: absolute;
    top: 25px;
    left: 150px;
}

.logo-container img {
    height: 150px;
    width: 150px;
    /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
}